<%= form_with model: reviewer, class: 'space-y-2', html: { "x-data": "{ platform: '' }" } do |form| %>
    <div>
        <%= form.label :name, class: 'text-md font-medium text-slate-700' %><br>
        <%= form.text_field :name, maxlength: "100", class: "border-1 border-slate-200 bg-slate-50 rounded-md appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% reviewer.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :platform, class: 'text-md font-medium text-slate-700' %><br>
        <%= form.select :platform, platformMap.map {|platformSym, platformName| [platformName, platformSym.to_s] }, {}, class: "border-1 border-slate-200 bg-slate-50 rounded-md appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", "x-model": "platform" %>
        <% reviewer.errors.full_messages_for(:platform).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div x-show="platform === 'website'">
        <%= form.label :hostname, class: 'text-md font-medium text-slate-700' %><br>
        <%= form.text_field :hostname, maxlength: "100", class: "border-1 border-slate-200 bg-slate-50 rounded-md appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% reviewer.errors.full_messages_for(:hostname).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label 'Description', class: 'text-md font-medium text-slate-700' %><br>
        <%= form.text_area :review, maxlength: "1000", size: "70x3", class: "border-1 border-slate-200 bg-slate-50 rounded-md appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% reviewer.errors.full_messages_for(:review).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <div class="grid grid-cols-5 mb-2">
            <%= form.label :categories, class: 'text-md font-medium text-slate-700 col-span-1' %>
            <%= form.label :categories, "Category URL Path", class: 'text-md font-medium text-slate-700 col-span-1 ml-2' %>
        </div>
        <%= form.fields_for :categories do |categories_form| %>
            <%= render 'category', categories_form: categories_form, showDeleteBtn: true %>
        <% end %>
        <%= link_to_add_category "Add Category", form, :categories %>
    </div>
    <div class="flex flex-row justify-start space-x-4 items-center pt-10">
        <%= form.submit 'Save', class: 'btn bg-sky-700 text-white py-2 rounded-md px-10 cursor-pointer' %>
        <%= link_to 'Back', @reviewer, class: 'underline' %>
    </div>
    <script>
    function addCategoryFieldset(e) {
        e.preventDefault();
        let link = document.querySelector('.add_categories');
        let newFieldSet = link.getAttribute('data-categories');
        let template = document.createElement('template');
        template.innerHTML = newFieldSet;
        link.parentNode.insertBefore(template.content.firstChild, link);
    }
    function deleteCategoryFieldset(e, selfElement) {
        e.preventDefault();
        selfElement.parentElement.querySelector("input[type=hidden]").setAttribute("value", "1");
        selfElement.parentElement.setAttribute("style", "display: none") 
    }
    </script>
<% end %>