<div class="bg-white shadow-md p-4" x-data="{ expanded: false }">
    <p class="text-slate-700 text-sm mb-1"><span class="font-semibold"><%= review.commenter %></span> said</p>
    <div class="mb-2">
        <div x-ref="item" class="overflow-hidden" x-transition :style="expanded || $refs.item.scrollHeight &lt; 60 ? 'max-height: ' + $refs.item.scrollHeight + 'px' : 'max-height: ' + $refs.item.scrollHeight / 2 + 'px'">
        <p class="text-slate-500 text-sm"><%= review.body %></p>
        </div>
        <p class="text-lg font-medium text-slate-500 cursor-pointer underline" x-show="$refs.item.scrollHeight > 60" x-text="!expanded ? 'expand' : 'collapse'" @click="expanded = !expanded"></p>
    </div>
    <% unless review.rating == nil %>
        <p class="text-slate-700 text-sm mb-1">and gave the <span class="font-semibold">ratings</span></p>
        <div class="flex flex-col w-3/4">
            <% unless review.rating.usability == nil %>
                <div class="flex justify-between border-b-2 border-slate-200 items-baseline">
                    <p class="text-slate-700 text-lg">Usability</p>
                    <p class="text-xs text-slate-400"><span class="text-slate-700 text-2xl font-medium"><%= review.rating.usability.to_i %></span> out of 5</p>
                </div>
            <% end %>
            <% unless review.rating.entertainment == nil %>
                <div class="flex justify-between border-b-2 border-slate-200 items-baseline">
                    <p class="text-slate-700 text-lg">Entertainment Value</p>
                    <p class="text-xs text-slate-400"><span class="text-slate-700 text-2xl font-medium"><%= review.rating.entertainment.to_i %></span> out of 5</p>
                </div>
            <% end %>
            <% unless review.rating.wellwritten == nil %>
                <div class="flex justify-between border-b-2 border-slate-200 items-baseline">
                    <p class="text-slate-700 text-lg">Well Written</p>
                    <p class="text-xs text-slate-400"><span class="text-slate-700 text-2xl font-medium"><%= review.rating.wellwritten.to_i %></span> out of 5</p>
                </div>
            <% end %>
            <% unless review.rating.useful == nil %>
                <div class="flex justify-between border-b-2 border-slate-200 items-baseline">
                    <p class="text-slate-700 text-lg">Usefulness</p>
                    <p class="text-xs text-slate-400"><span class="text-slate-700 text-2xl font-medium"><%= review.rating.useful.to_i %></span> out of 5</p>
                </div>
            <% end %>
            <% unless review.rating.insightful == nil %>
                <div class="flex justify-between border-b-2 border-slate-200 items-baseline">
                    <p class="text-slate-700 text-lg">Insightful</p>
                    <p class="text-xs text-slate-400"><span class="text-slate-700 text-2xl font-medium"><%= review.rating.insightful.to_i %></span> out of 5</p>
                </div>
            <% end %>
            <% unless review.rating.quality == nil %>
                <div class="flex justify-between border-b-2 border-slate-200 items-baseline">
                    <p class="text-slate-700 text-lg">Quality</p>
                    <p class="text-xs text-slate-400"><span class="text-slate-700 text-2xl font-medium"><%= review.rating.quality.to_i %></span> out of 5</p>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="mt-2">
        <%= link_to 'Delete', [review.reviewer, review], data: { turbo_confirm: 'Delete comment?', turbo_method: :delete }, class: 'underline text-sky-700' %>
    </div>
</div>