<!-- Page wrapper -->
<div class="flex flex-col min-h-screen overflow-hidden">
  <%= render 'shared/header' %>

  <main class="grow">
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 pt-20">
        <h3 class="h3"><%= $pageTitleMap[params[:category].to_sym] %> Reviewers</h3>
      </div>
    </section>
    <section class="relative">
      <div class="flex flex-row items-center max-w-6xl mx-auto px-4 pt-10">
        <h5 class="h5 mr-10">Choose platform:</h5>
        <div class="grid grid-cols-2 divide-x gap-4">
          <a href="reviewers?category=<%= params[:category] %>&platform=website" class="h4 text-center cursor-pointer <%= @platform === 'website' ? 'font-semibold text-sky-700' : 'font-light' %>">Websites</a>
          <a href="reviewers?category=<%= params[:category] %>&platform=streamer" class="h4 pl-8 text-center cursor-pointer <%= @platform === 'streamer' ? 'font-semibold text-sky-700' : 'font-light' %>">Streamers</a>
        </div>
      </div>
    </section>
    <section class="relative">
      <div class="flex flex-row items-center max-w-6xl mx-auto px-4 pt-10 mb-4">
        <div class="grow grid grid-cols-8">
          <!-- <div x-data class="flex flex-row items-end col-start-1 col-span-7 gap-4">
            <form action="/reviewers/<%= params[:category] %>?filter=<%= params[:category] %>" method="get">
              <button type="button" @click="window.history.pushState({filter: 'rated'}, 'Reviewers', '/reviewers/<%= params[:category] %>?filter=rated')" class="btn py-2 col-span-1 text-sm text-slate-600 bg-white border-2 drop-shadow-sm hover:bg-slate-50 <%= 'border-sky-600' if @sort_by == 'rated' %>">
                Best Rated
              </button>
              <button type="submit" class="btn py-2 col-span-1 text-sm text-slate-600 bg-white border-2 drop-shadow-sm hover:bg-slate-50 <%= 'border-sky-600' if @sort_by == 'unrated' %>">
                Unrated
              </button>
              <button class="btn py-2 col-span-1 text-sm text-slate-600 bg-white border-2 drop-shadow-sm hover:bg-slate-50 <%= 'border-sky-600' if @sort_by == 'active' %>">
                Most Active
              </button>
              <button class="btn py-2 col-span-1 text-sm text-slate-600 bg-white border-2 drop-shadow-sm hover:bg-slate-50 <%= 'border-sky-600' if @sort_by == 'popular' %>">
                Most Popular
              </button>
          </div> -->
          <div class="col-start-8 col-span-1">
            <p>Sort by: Rating</p>
            <a href="/reviewers?category=<%= params[:category] %>&platform=<%= params[:platform] %>&sort=asc">
              <button class="btn py-1 px-2 col-span-1 text-xs text-slate-600 bg-white border-2 drop-shadow-sm hover:bg-slate-50 <%= 'border-sky-600' if @sort_direction == :asc %>">
                Lowest to Highest
              </button>
            </a>
            <a href="/reviewers?category=<%= params[:category] %>&platform=<%= params[:platform] %>&sort=desc">
              <button class="btn mt-1 py-1 px-2 col-span-1 text-xs text-slate-600 bg-white border-2 drop-shadow-sm hover:bg-slate-50 <%= 'border-sky-600' if @sort_direction == :desc %>">
                Highest to Lowest
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="relative">
      <%= turbo_frame_tag 'reviewers_list' do %>
        <%= render 'list', reviewers: @reviewers %>
      <% end %>
    </section>
  </main>
  <!-- Site footer -->
  <%= render 'shared/footer' %>

  <script>
    async function getReviewers(category, filter) {
      return await fetch(`127.0.0.1/reviewers/${category}?filter=${filter}`);
    }
  </script>
</div>