<!-- Page wrapper -->
<div class="flex flex-col min-h-screen overflow-hidden">
  <%= render 'shared/header' %>

  <main class="grow">
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 pt-20 flex flex-row justify-between">
        <% if user_signed_in? and current_user.is_admin? %>
          <%= link_to edit_reviewer_path(@reviewer) do %>
              <button class="text-slate-800 font-medium underline">Edit</button>
          <% end %>
          <%= link_to "Delete", reviewer_path(@reviewer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-slate-800 font-medium underline' %>
        <% end %>
      </div>
    </section>
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 flex flex-row justify-between">
        <div>
          <h2 class="h2"><%= @reviewer.name %></h2>
          <footer class="text-xl text-slate-500"><%= @reviewer.platform.capitalize %></footer>
          <% unless @reviewer.hostname.blank? %>
            <footer class="text-xl text-slate-500"><%= @reviewer.hostname %></footer>
            <% @reviewer.categories.each do |category| %>
              <p class="text-slate-700 font-sm font-medium"><%= categoryName category.name.to_sym %> <span class="font-normal"><%= @reviewer.hostname + (category.path.blank? ? '' : category.path) %></span></p>
            <% end %>
          <% end %>
        </div>
        <div class="flex flex-col items-end">
          <% @reviewer.categories.each do |category| %>
            <p class="text-slate-700 font-md"><%= categoryName category.name.to_sym %> Reviewer</p>
          <% end %>
        </div>
      </div>
    </section>

    <%= render 'rating_summary', reviewer: @reviewer, average_rating: @average_rating %>

    <%= render 'review_form', reviewer: @reviewer %>

    <!-- Reviews -->
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 pb-20 flex flex-col justify-between">
        <h3 class="h3 text-slate-700 mb-4">Reviews <span class="font-light text-xl">(<%= @reviewer.numOfCritics %>)</span></h3>
        <% if @reviewer.numOfCritics == 0 %>
          <p class="text-md text-slate-700">No one has left a review yet.</p>
        <% else %>
          <div class="grid grid-cols-2 gap-4">
            <% @reviewer.reviews.reject {|review| review.commenter.blank? and review.body.blank? }.each do |review| %>
            <!-- Review card -->
              <%= render "review", review: review %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  </main>
  <!-- Site footer -->
  <%= render 'shared/footer' %>
</div>