<%= render 'shared/header' %>
<main class="flex">
  <div class="min-h-screen w-full h-full flex flex-col justify-center">

    <div class="px-5 sm:px-6">
      <div class="w-full max-w-md mx-auto">
              <!-- Site branding -->

              <h2 class="h2 font-playfair-display text-slate-800 mb-12">Forgot your password?</h2>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="space-y-4">

                  <div class="field">
                    <%= f.label :email, class: "block text-sm font-medium mb-1" do %>
                      Email <span class="text-rose-500">*</span>
                    <% end %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input py-2 w-full" %>
                  </div>
                  <div class="actions pb-4">
                    <%= f.submit "Send me reset password instructions", class: "btn-sm w-full text-sm text-white bg-blue-600 hover:bg-blue-700 group cursor-pointer" %>
                  </div>
                </div>

              <% end %>

              <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
