<!-- Site header -->
<header class="absolute w-full z-30 bg-slate-900 <% local_assigns.fetch :theme, '' %>">
    <div class="max-w-6xl mx-auto px-5 sm:px-6">
        <div class="flex items-center justify-between h-16">

            <!-- Site branding -->
            <div class="shrink-0 mr-4">
                <!-- Logo -->
                <a class="block text-blue-600 transition duration-150 ease-in-out" href="/" aria-label="Cruip">
                    <img src="/images/logo_transparent.png" width="60" >
                </a>
            </div>

            <!-- Desktop navigation -->
            <nav class="hidden md:flex md:grow">

                <!-- Desktop menu links -->
                <ul class="flex grow justify-start flex-wrap items-center">
                    <li>
                        <a class="font-medium text-slate-800 hover:text-blue-600 dark:text-slate-400 dark:hover:text-blue-600 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out" href="/">Home</a>
                    </li>
                    <!-- 1st level: hover -->
                    <li
                        class="relative"
                        x-data="{ open: false }"
                        @mouseenter="open = true"
                        @mouseleave="open = false"
                    >
                        <a
                            class="font-medium text-slate-800 dark:text-slate-400 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out"
                            href="#0"
                            aria-haspopup="true"
                            :aria-expanded="open"
                            @focus="open = true"
                            @focusout="open = false"
                            @click.prevent
                        >
                            Categories
                            <svg class="w-3 h-3 fill-current text-slate-400 dark:text-slate-500 cursor-pointer ml-1 shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.28 4.305L5.989 8.598 1.695 4.305A1 1 0 00.28 5.72l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" />
                            </svg>
                        </a>
                        <!-- 2nd level: hover -->
                        <ul
                            class="origin-top-right absolute top-full right-0 w-40 bg-white py-2 ml-4 rounded shadow-lg"
                            x-show="open"
                            x-transition:enter="transition ease-out duration-200 transform"
                            x-transition:enter-start="opacity-0 -translate-y-2"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-out duration-200"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            x-cloak
                        >
                            <% categoryMap.each do |cat, name| %>
                                <li>
                                    <a href="<%= reviewers_path  %>?category=<%= cat %>" class="font-medium text-sm text-slate-600 hover:text-blue-600 flex py-2 px-5 leading-tight" @focus="open = true" @focusout="open = false"><%= name %></a>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                </ul>

                <!-- Desktop sign in links -->
                <%# <ul class="flex grow justify-end flex-wrap items-center">
                    <li>
                        <a class="font-medium text-slate-800 hover:text-blue-600 dark:text-slate-400 dark:hover:text-blue-600 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out" href="signin.html">Sign in</a>
                    </li>
                    <li>
                        <a class="font-medium text-blue-600 dark:text-slate-300 dark:hover:text-white px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out group" href="request-demo.html">Request Demo <span class="tracking-normal text-blue-600 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span></a>
                    </li>
                </ul> %>
                <% if user_signed_in? and current_user.is_admin? %>
                    <%= link_to new_reviewer_path do %>
                        <button class="btn bg-sky-700 text-white py-2">Create Reviewer</button>
                    <% end %>
                <% end %>
                 <%= render "shared/user_auth_link"%>
            </nav>

        </div>
    </div>
</header>