<!-- Page wrapper -->
<div class="flex flex-col min-h-screen overflow-hidden">

    <%= render 'shared/header', theme: 'dark' %>

        <!-- Hero -->
        <section class="relative">

            <!-- Dark background -->
            <div class="absolute inset-0 bg-slate-900 pointer-events-none -z-10" aria-hidden="true"></div>

            <div class="relative max-w-6xl mx-auto px-4 pb-10 pt-20">

                    <!-- Section header -->
                    <div class="max-w-3xl mx-auto text-center">
                        <h1 class="h1 font-playfair-display text-slate-100 mb-4">Review the Reviewers</h1>
                        <p class="text-xl text-slate-400 mb-8">Look up a product or a reviewer.</p>
                        <%= form_with url: "/search", method: "get", class: 'space-y-2' do |form| %>
                            <div class="flex flex-row justify-center mx-auto max-w-lg space-x-2">
                                <%= form.select :category, categoryMap.map {|categorySym, categoryName| [categoryName, categorySym.to_s] }, { include_blank: true }, selected: params[:category], class: "border-1 text-white border-slate-700 bg-slate-800 rounded-md appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                                <%= form.text_field :query, class: "form-input w-full rounded-md bg-slate-800 border border-slate-700 focus:border-slate-600 text-white placeholder-slate-500 mb-0 mr-2", placeholder: "Product or reviewer" %>
                                <%= form.submit 'Search', class: 'btn text-white bg-blue-600 hover:bg-blue-700' %>
                            </div>
                        <% end %>
                    </div>
            </div>
        </section>

        <section class="relative">
          <div class="max-w-6xl mx-auto px-4">
            <p class="text-lg text-slate-700 my-4">Publishers that have reviewed <span class="font-semibold"><%= params[:query] %></span></p>
            <%= render 'reviewers/list', reviewers: @reviewers %>
          </div>
        </section>

    </main>


    <!-- Site footer -->
    <%= render 'shared/footer' %>

</div>