<!DOCTYPE html>
<html>
  <head>
    <title>Ratemyrater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="/css/vendors/aos.css" rel="stylesheet">
  </head>

  <body class="font-inter antialiased bg-slate-50 text-slate-800 tracking-tight">
      <% unless notice.blank? %>
        <div class="p-4 bg-slate-800">
          <p class="h5 notice text-slate-200"><%= notice %></p> 
        </div>
      <% end %>
      <% unless alert.blank? %>
        <div class="p-4 bg-slate-800">
          <p class="h5 alert text-slate-200"><%= alert %></p> 
        </div>
      <% end %>
      <%= yield %>
      <script src="/js/vendors/alpinejs.min.js" defer></script>
      <script src="/js/vendors/aos.js"></script>
      <script src="/js/main.js"></script>
  </body>
</html>
