<%= render 'shared/header' %>
<main class="flex">
  <div class="min-h-screen w-full h-full flex flex-col justify-center">

    <div class="px-5 sm:px-6">
      <div class="w-full max-w-md mx-auto">

        <h2 class="h2 text-slate-800 mb-12">Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages" , resource: resource %>

            <div class="space-y-4">
              <%= f.fields_for :profile do |pf| %>
                <div>
                  <%= f.label :name, class: "block text-sm font-medium mb-1" do %>
                    Display Name <span class="text-rose-500">*</span>
                  <% end %>
                  <%= pf.text_field :name, placeholder: 'What should we call you?', class: "form-input py-2 w-full" %>
                </div>
              <% end %>
              <div class="field">
                <%= f.label :email, class: "block text-sm font-medium mb-1" do %>
                  Email <span class="text-rose-500">*</span>
                <% end %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-input py-2 w-full" %>
              </div>

              <div class="field">
                <%= f.label :password, class: "block text-sm font-medium mb-1" do %>
                  Password <span class="text-rose-500">*</span>
                <% end %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" , class: "form-input py-2 w-full" %>
              </div>
              <div class="actions pb-4">
                <%= f.submit "Sign up" ,
                  class: "btn-sm w-full text-sm text-white bg-blue-600 hover:bg-blue-700 group cursor-pointer" %>
              </div>
            </div>

            <% end %>

            <%= render "users/shared/links" %>
            <div class='h-[1px] bg-slate-200 w-full my-4'></div>
            <%= link_to "Back", :back, class: 'text-center mt-5 text-blue-600 hover:underline' %>
      </div>
    </div>
  </div>
</main>